@import url(reset.css);

* {box-sizing: border-box;}

body {
    height: 100vh;
    background: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
    display: flex;
    font-size: 62.5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#myLabel {
    margin: auto;
    text-align: center;
    padding: 40px 50px;
    color: #fff;
    font-weight: 500;
    font-size: 4rem;
    background-color: rgba(255, 255, 255, .4);
    border-radius: 100px;
    box-shadow: 5px 10px 15px rgba(255, 255, 255, 0.618);
    user-select: none;
}